main {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.product {
  &-main {
    display: flex;
  }
  &-details {
    margin-left: 2rem;
  }
  &-title {
    font-size: 1.5rem;
  }
  &-sku {
    font-weight: 500;
    color: rgb(170, 170, 170);
    ;
  }
  &-price {
    margin: 1rem 0;
    font-weight: 600;
  }
  &-desc {
    & span {
      color: rgb(170, 170, 170);
      font-weight: 600;
      font-size: 1rem;
    }
    margin-top: 1rem;
  }
}

.buy-action {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
}

.reviews {
  margin-right: 10vw;
  &-item {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
  &-rate,
  &-name {
    font-weight: 600;
  }
  &-name {
    margin-right: 1rem;
  }
  &-review {
    margin-top: 0.5rem;
  }
}

.review-form {
  width: 500px;
}